anagramgen==0.1.1
asgiref==3.11.0
certifi==2025.11.12
defusedxml==0.7.1
distlib==0.4.0
Django==5.2.8
django-silk==5.4.3
dotenv==0.9.9
et_xmlfile==2.0.0
filelock==3.20.0
gprof2dot==2025.4.14
Markdown==3.10
numpy==2.3.4
odfpy==1.4.1
openpyxl==3.1.5
packaging==25.0
pandas==2.3.3
pillow==12.0.0
pipenv==2025.0.4
platformdirs==4.5.0
pyaes==1.6.1
pyasn1==0.6.1
PyMuPDF==1.26.6
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2025.2
rsa==4.9.1
setuptools==80.9.0
six==1.17.0
sqlparse==0.5.3
Telethon==1.42.0
tzdata==2025.2
virtualenv==20.35.4
